<% content_for :title, "Link Not Active - Earthkin Nature School" %>

<div style="text-align: center;">
  <div class="success-icon">&#128712;</div>

  <h2>This Link Is Not Active</h2>

  <p>
    This payment link is not currently active for <strong><%= @application.full_child_name %></strong>'s enrollment.
  </p>

  <div class="error-box" style="text-align: left;">
    <p style="margin: 0;">
      This could mean:
    </p>
    <ul style="margin: 10px 0 0 0;">
      <li>The enrollment fee hasn't been requested yet</li>
      <li>This application is still being processed</li>
      <li>There may be an issue with your application</li>
    </ul>
  </div>

  <p style="margin-top: 25px;">
    Please contact us at <a href="mailto:earthkinnatureschool@gmail.com">earthkinnatureschool@gmail.com</a>
    and we'll help you complete your enrollment.
  </p>
</div>
